<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="./navbar.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container container">
            <img class="logo" src="../../assets/images/logo.png" alt="">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="#">How it works?</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#" class="login-button">Login</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>
